body {
    margin: 0;
}

header{
    height: 170px;
    background-image: url(/img/pattern.png);
    background-color: #4EA0FF;
    
}

#logo{
    height: 50px;
    width: 200px;
    padding-top: 100px;
}

#autore{
    color: gray;
}

#nome{
    color: #30AFE6;
}

#didascaliafoto{
    font-size: 10px;
}